@import url('https://fonts.googleapis.com/css?family=Overpass');

body {
    background-color: #251535;
    color: #069CC0;
    font-family: 'Overpass', sans-serif;
    margin: 0;
    overflow: hidden;
    font-weight: bold;
}

.settings {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    text-align: center;
}

svg {
    width: 100%;
    height: 400px;
}

path {
    stroke: #069CC0;
    stroke-width: 10px;
    stroke-linecap: round;
    fill: none;
}